 :root{
    --colorGrisclaro:#BDBDBD;
    --colorPrimario:#486f99;
    --colorAzulclaro:#88a7d0;
    --colorBlanco:#ffffff;
    --Colortexto:#000000;
    --colorpastellila:#dbbdff;
    --colorpastelazul:#2674b9;
 }
 html {
    box-sizing: border-box;
    font-size: 62.5%;
}
table  th{
background-color: #2674b9 !important;
color: #ffffff !important;
}

/* grid graficos */
.grid_graficos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
/* grid graficos */
@media(max-width:1366px){
  .grid_graficos{
      grid-template-columns: repeat(5, 1fr);
  }
}
@media(max-width:1200px){
  .grid_graficos{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:768px){
  .grid_graficos{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:468px){
  .grid_graficos{
      grid-template-columns: 1fr;
  }
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 10px;
}
a{
  text-decoration: none;
}
.contenedor_barra{
  width: min(74%, 120rem);
  margin: -15px auto;
}
@media(min-width:768px){
  .navegacion{
      display: flex;
      gap: 2rem;
  }
}

.navegacion__enlace{
  display: block;
  text-align:center;
  font-size:1.8rem;
  color: var(--blanco);
}
.barra{
  padding-top: 2rem;
}

@media(min-width:768px){
  .barra{
      display: flex;
      justify-content:space-between;
      align-items: center;

      margin-left: 76%;
  }
}
.btn1 {
    width: 50px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
}
.col_grisclaro{
    background-color: var(--colorGrisclaro);
}
.col_primario{
    background-color: var(--colorPrimario);
}
.col_azulclaro{
    background-color: var(--colorAzulclaro);
}
.col_blanco{
    background-color: var(--colorBlanco);
}
.col_texto{
    background-color: var(--Colortexto);
}
.col_pastellila{
    background-color: var(--colorpastellila);
}
.col_pastelazul{
    background-color: var(--colorpastelazul);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* .imagen{
min-height: 100hv;
justify-content: center;
align-items: center;
position: relative;
}
.imagen::before{
    content: "";
    position: absolute;
    background-image: url(../img/Recurso.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;

    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

} */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    
} 


/* img { 
    max-width: 100%;
}  */

h1,h2,h3,h4,h5,h6,p{
    color:var(--Colortexto);
}

.contenedor,.boton_texto{
    /* margin-top: 100px; */
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /* padding: 16px; */
    margin-top: 5rem!important;
    margin-bottom: 2rem!important;
}
.contenedor2{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); */
    
}
.contenedor3{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); */
    
}
.contenedor_table {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.caja_select{
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
}
.input{
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
}
/* .tres_columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
} */

@media(min-width: 868px){
    .tres_columnas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        /* margin-top: 13rem; */
    }
}

@media(min-width: 868px){
    .grid_row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        /* margin-top: 13rem; */
    }
}
@media(min-width: 868px){
    .tres_columnas_buscar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 372px 222px; */
        column-gap: 2rem;
        /* margin-bottom: 13rem; */
    }
}
/* .row_inputs{
    display: grid;
    grid-template-columns: 35% 20% 35%;
    column-gap: 2rem;
} */
@media(min-width:768px){
        .row_inputs{
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 35% 20% 35%;

        column-gap: 2rem;
    }
}
.cambiar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
@media(min-width:680px){
    .cambiar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
@media(max-width: 480px){
        .row_inputs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
@media(max-width: 300px){
        .row_inputs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }
}
.card{
    margin-bottom: 4rem;
}
.zoom{
    transition: width 1s, height 1s, transform 1s;
}
.zoom:hover{
    transform : scale(1.1);
}
.colorpastel{
    background-color: var(--colorpastelazul);
}
/* .chart{
    background: rgb(74, 74, 74);
    color: aliceblue;
} */

/* .entrada-grafica a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */

/* menu desplegable */

  .container_menu {
    background-color: #6a0000;
    display: flex;
    font-size: 18px !important;
  }
  
  #sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s; /* Transición suave para el ancho del menú */
    padding-top: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  #sidebar .logo {
    width: 80%;
    margin: 10px auto 0; /* Ajustado el margen superior del logo */
    display: block;
  }
  
  .sidebar-links {
    margin-top: 20px; /* Ajustado el margen superior de los enlaces */
  }
  
  #sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  #sidebar a:hover {
    color: #f1f1f1;
  }
  /* Agregar la siguiente regla CSS para manejar las transiciones de altura */
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  /* Agregar la siguiente regla para mostrar los submenús */
  .sub-menu.show {
    max-height: 200px; /* Ajusta según sea necesario */
  }
  
  
  .sub-menu {
    padding-left: 20px;
  }
  
  .sub-menu a {
    font-size: 18px;
    color: #818181;
  }
  
  .sub-menu a:hover {
    color: #f1f1f1;
  }
  
  #sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #818181;
  }
  
  .content {
    flex: 1;
    padding: 16px;
    margin-left: 50px; /* Reducido a 50px */
    transition: margin-left 0.5s; /* Transición suave para el margen izquierdo del contenido */
  }
  
  .toggle-btn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: #ffffff;
    margin: 20px;
    transition: color 0.5s; /* Transición suave para el color del botón */
  }
  
  .toggle-btn:hover {
    color: #f1f1f1;
  }
  /* Estilos para el submenú */
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #6a0000; /* Fondo oscuro */
    /* padding: 10px; */
    margin: 8px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sutil sombra */
  }
  
  /* Estilo para los enlaces dentro del submenú */
  .sub-menu a {
    display: block;
    padding: 10px;
    color: #61dafb; /* Color del texto */
    text-decoration: none;
    transition: background-color 0.3s; /* Transición de color de fondo al pasar el ratón */
  }
  
  /* .sub-menu a:hover {
    background-color: #4d5766; 
  } */
  
  /* Estilos para los enlaces del menú principal */
  .sidebar-links a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; /* Color del texto */
    display: block;
    transition: background-color 0.3s; /* Transición de color de fondo al pasar el ratón */
  }
  
   
  .sidebar-links a:hover {
    background-color: #758194; /* Color de fondo al pasar el ratón */
  }
  .sidebar-links .sub-a:hover {
    background-color: #0062ff; /* Color de fondo al pasar el ratón */
  }
  
  /* Estilo para el botón de cerrar */
  .close-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #61dafb; /* Color del texto */
    transition: color 0.3s; /* Transición de color al pasar el ratón */
  }
  
  .close-btn:hover {
    color: #fff; /* Color del texto al pasar el ratón */
  }
  .sidebar-links a i {
    margin-right: 10px;
  }



  /* estilos graficas  ul */
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0 solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);
  }
  
  @media (min-width: 576px) {
    .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
  }
  .card.maximized-card .card-header,
.card.maximized-card .card-footer {
  border-radius: 0 !important;
}

.card.collapsed-card .card-body,
.card.collapsed-card .card-footer {
  display: none;
}

.card-footer::after {
  display: block;
  clear: both;
  content: "";
}
.widget-user .card-footer {
  padding-top: 50px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #007bff;
}

.nav-pills .nav-link {
  color: #6c757d;
}

.nav-pills .nav-link:not(.active):hover {
  color: #007bff;
}

.nav-pills .nav-item.dropdown.show .nav-link:hover {
  color: #ffffff;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}


.nav-tabs.flex-column {
  border-bottom: 0;
  border-right: 1px solid #dee2e6;
}

.nav-tabs.flex-column .nav-link {
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.nav-tabs.flex-column .nav-link:hover, .nav-tabs.flex-column .nav-link:focus {
  border-color: #e9ecef transparent #e9ecef #e9ecef;
}

.nav-tabs.flex-column .nav-link.active,
.nav-tabs.flex-column .nav-item.show .nav-link {
  border-color: #dee2e6 transparent #dee2e6 #dee2e6;
}

.nav-tabs.flex-column.nav-tabs-right {
  border-left: 1px solid #dee2e6;
  border-right: 0;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
  margin-left: -1px;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link:hover, .nav-tabs.flex-column.nav-tabs-right .nav-link:focus {
  border-color: #e9ecef #e9ecef #e9ecef transparent;
}

.nav-tabs.flex-column.nav-tabs-right .nav-link.active,
.nav-tabs.flex-column.nav-tabs-right .nav-item.show .nav-link {
  border-color: #dee2e6 #dee2e6 #dee2e6 transparent;
}

.card .nav.flex-column > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
}

.card .nav.flex-column > li:last-of-type {
  border-bottom: 0;
}

.float-right {
  float: right !important;
}
.nav-sidebar > .nav-item .float-right {
  margin-top: 3px;
}
.nav-sidebar .nav-item > .nav-link > .float-right {
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
}

/* estilos acordeon ////////////////*/


  